body{
    background-color:white;
    color:black;
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color:white;
    color:red;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
}

.passo{
    display: none;
}

.passo.ativo{
    display:block;
}

main{
text-align: center;
max-width: 90%;
font-size: 20px;
}

img{
    max-width: 80px;
}
